<div class="login-form d-flex justify-content-center align-items-center">
  <div class="card card col-md-4">
    <div class="card-body">

      <h5 class="text-center p-2">Login</h5>

      <div class="content">

        <form [formGroup]="formLogin" class="form-login form-row mt-5 ml-0 mr-0" (ngSubmit)="onSubmit(formLogin.value)">

          <div class="form-group row col-md-12 ml-0 mr-0">
            <label>Email</label>
            <input type="email" class="form-control input-email" required formControlName="email" placeholder="exemplo@exemplo.com">
          </div>

          <div class="form-group row col-md-12 ml-0 mr-0">
            <label>Senha</label>
            <input type="password" class="form-control input-password" required formControlName="password" placeholder="Senha">
          </div>

          <div class="actions col-md-12 d-flex flex-column  justify-content-center mt-4">

              <button type="submit" class="btn btn-success btn-form-submit mb-5" [disabled]="!(formLogin.valid && formLogin.dirty)">
                Acessar
              </button>

              <p class="text-center mb-0">Não é revendedor?</p>
              <a class="btn btn-link btn-form-submit" routerLink="/login/register">
                Criar uma conta
              </a>

          </div>

        </form>
      </div>
    </div>
  </div>
</div>
